#container {
  width: 960px;
  height: auto;
  box-sizing: border-box;
  background-color: rgb(32, 19, 19);
  overflow: hidden;
  


}

.top-bar {
  background-color: slategray;
  width: 100%;
  height: 65%;
  

}

.top-bar h1, h2 {
  display: inline-block;
  margin: 50px 100px;


}

.top-bar h2 {
  float: right;
}


#about-me, #my-photo {
  display: inline-block;
  float: left;
}
  
#main-body {
  display: inline;
  width: 100%;
  height: auto;
}
/* About me section */
#my-photo, #about-me {
  width: 42.5%;
  height: 400px;
  margin: 15px 35px;
  padding: 10px;
  border: 10px #505050 solid;

  background-color: lightskyblue;
  float: left;
  overflow: hidden;
  box-sizing: border-box;


}

.same-color {
  width: 100%;
}


#main-body {
  background-color: palevioletred;
  width: 100%;
  height: auto;
}

/* Main cotents area */
#la-mode, #family-contacts, #five-eleven {
  box-sizing: border-box;
  background-color: cornsilk;
  
  float: left;

  width: 31%;
  height: 590px;
  margin: 10px;
  padding: 15px;
  border: 5px solid gold;

}
/*Contents photo area */
article div img .content-photos {
  width: 300px;
  width: 150px; 
}

/* H2 sub-contents */
.same-color {
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;
  background-color: lightslategray;
  text-align: justify;

}
article div img {
  width: 250px;
  height: 150px;
}
/*Technology areas */
article div img.tech-images {
  width: 40px;
  height: 40px;
}

/* Buttons area */

.btn-all {
  width: 100px;
  height: 40px;
  color: crimson;
  background-color: greenyellow;
  border-radius: 10px;
  text-align: center;
}

.btn-all:hover {
  width: 110px;
  height: 45px;
  color: gold;
  border-radius: 10px;
  text-align: center;
}
/* Footer section */

#silver-color {
  margin-top: 15px;
  background-color: honeydew;
  
  width: 100%;
  height: 95px;
  text-align: center;

}

footer img.footer-photo {
  width: 25px;
  height: 25px;
}

.clear {
  clear: both;
}